// Color Variables 
$border_color: #3a3a4f;
$add-btn-color: #3b82f6;
$add-btn-hover-color: #0056b3;
$bg_color: #1e1e2f;
$table_bg_color: #2c2c3e; 
$text_color: #e4e4eb; 

body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: $bg_color;
}



.content {
    //max-width: 800px;
    max-width: max-content;
    margin: 50px auto;
    padding: 20px;
    background-color: $table_bg_color;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;

    h1, h2, h3 {
        color: $text_color;
    }

    table {
        width: 100%;
        margin-top: 20px;
        border-collapse: collapse;

        th,td {
            padding: 10px;
            border: 1px solid $border_color;
            color: $text_color;
            font-size: 18px;

            th {
                color: $text_color;
            }
        }
    }

    a {
        display: inline-block;
        padding: 8px 16px;
        margin: 5px;
        border-radius: 20px;
        background-color: #9ca3af;
        color: $text_color;
        text-decoration: none;
        transition: background-color 0.3s ease;

        &:hover {
            background-color: $border_color;
        }
    }
    #delete {
        background-color: #dc2626;

        &:hover {
            background-color: #681212;
        }
    }
    input, textarea {
        padding: 10px;
        margin: 5px;
        border: solid 1px $border_color;
        border-radius: 8px;
        background-color: $table_bg_color;
        color: $text_color;
        resize: vertical;
        width: 100%;
        box-sizing: border-box;
    }

    input:focus,textarea:focus {
        outline: none;
        border-color: #3b82f6;
        box-shadow: 0 0 4px #3b82f6;
    }

    #btn_add {
        background-color: $add-btn-color;
        color: $text_color;
        cursor: pointer;

        &:hover {
            background-color: $add-btn-hover-color;
        }
    }
}