{% extends 'base.html' %} 

{% block head %}
<title>Job Tracker</title>
{% endblock %} 


{% block body %} 
<div class="content">
    <h1>Job Tracker</h1>

    {% if apps | length < 1%}
    <h3>There are no applications... Add one here!</h3>
    {% else %}
    <table>
        <tr>
            <th>Company</th>
            <th>Status</th>
            <th>Notes</th>
            <th>Application Date</th>
            <th>Last Updated</th>
            <th>Actions</th>
        </tr>
        {% for app in apps %}
            <tr>
                <td>{{app.company}}</td>
                <td>{{app.status}}</td>
                <td>{{app.notes}}</td>
                <td>{{app.applied_at.strftime("%Y-%m-%d")}}</td>
                <td>{{app.last_updated.strftime("%Y-%m-%d")}}</td>
                <td>
                    <a href="/delete/{{app.id}}">Delete</a>
                    <br/>
                    <a href="/edit/{{app.id}}">Edit</a>
                    <a href="/refresh/{{app.id}}">Refresh</a>
                </td>
            </tr>
        {% endfor %}
    </table>
    {% endif %}
    <form action="/" method="POST">
        <input type="text" name="company" placeholder="Company" required>
        <input type="email" name="email" placeholder="Email" required>
        <input type="text" name="role" placeholder="Role" required>
        <textarea name="notes" placeholder="Notes"></textarea>
        <input type="submit" value="Add Application" id="btn_add">
    </form>
</div>

{% endblock %}